doctype html
html
 head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")

  each item, i  in prj.styledependencies
    link(rel="stylesheet" href=item)

  each item, j  in prj.dependencies
    script(src=item)

  title= prj.title

 body
  .main-container

   section.how-we-can-help-you
     #pointer-wrapp.xs.compass
      .compass-msg

     .col
      a(href="#")
        | Squeezing creativity out of every individual
      a(href="#")
        | Getting teams to collaborate creatively
      a(href="#")
        | Creating a strong culture of innovation

     #pointer-wrapp.compass-cont.xl
      .compass
      .compass-msg

     .col
      a(href="#")
        | Leading others to be more creative
      a(href="#")
        | Injecting fresh thinking into our business processes
      a(href="#")
        | Facilitating key innovation projects

    i.fa.fa-chevron-circle-down.fa-3x.mk-skip-to-next(aria-hidden="true")

